.profile__button-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    background-image: url("../../../images/add-button.svg");
    width: 10px;
    height: 10px;
    background-repeat : no-repeat;
    }

   