.element__like_active {
  opacity: 1;
  background-image: url(../images/Union.svg);
  outline: none;
  border: none;
  box-sizing: border-box;
  border-style: none;
  list-style: none;
}
.element__like_active:focus {
  outline: none;
  transition: none;
}
