.popup__content {
    font-family: 'Inter', Arial, sans-serif;
    border-radius: 10px;
    max-width: 430px;
    background-color: white;
    padding: 34px 36px 37px;
    box-sizing: border-box;
  }

@media screen and (max-width: 480px) {
  .popup__content {
    max-width: 282px;
    padding: 25px 22px;
  }
}