.profile {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 720px) {
.profile {
    flex-direction: column;
    }
  }