.profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
    margin: 0;
    margin-top: 16px;
}
@media screen and (max-width: 700px) {
  .profile__subtitle {
    margin: 14px auto 36px;
  }
}
@media screen and (max-width: 425px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}