.popup__close-button_type-img {
    top: 22px;
    right: -430px;
}
@media screen and (max-width: 466px){
    .popup__close-button_type-img {
      right: -128px;
      top: 0px;
      font-weight: 400;
    }
  }