.popup__close-button_type-img {
    position: absolute;
    top: -70px ;
    right: -5px;
}
@media screen and (max-width: 466px){
    .popup__close-button_type-img {
      right: ;
      top: ;
      font-weight: 400;
    }
  }