.popup__save-button_unactive {
    background-color: #fff;
    border: 1px solid #000;
    opacity: .2;
    color: #000;
    cursor: default;
  }
  
  .popup__save-button_unactive:hover {
    background-color: #fff;
    transition: ease 1s;
  }