.grid__delete-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 18px;
    right: 15px;
    outline: none;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
}
.grid__delete-button:hover {
    opacity: 0.6;
}
