.grid {
    font-family: 'Inter', Arial, sans-serif;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 17px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
  }
  @media (max-width: 920px) {
    .grid {
        grid-template-columns: repeat(2, 282px);
        
    }
  }
  @media (max-width: 580px) {
    .grid {
     grid-template-columns: repeat(1, 282px);
    }
  }
