.popup__close-button {
  position: relative;
  color:white;
  font-size: 70px;
  font-weight: bold;
  right: -230px;
  top: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  background-color: transparent;
  border: 0;
}
.popup__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 400px){
  .popup__close-button {
    right: -128px;
    top: 0px;
    font-weight: 400;
  }
}