.profile__avatar {
    width: 122px;
    height: 122px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  @media screen and (max-width: 910px) {
    .profile__avatar {
      margin-left: 27px;
    }
  }
  @media screen and (max-width: 720px) {
    .profile__avatar {
      margin: 0;
    }
  }