.element__like {
  background: transparent;
  background-image: url(./images/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}
.element__like:hover {
  opacity: 0.5;
  transition: 0.8s;
}
.element__like:focus {
  outline: none;
}
