.profile__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    max-width: 500px;
  }
  @media screen and (max-width: 872px) {
    .profile__heading {
      max-width: 460px;
    }
  }
  @media screen and (max-width: 822px) {
    .profile__heading {
      max-width: 410px;
    }
  }
  @media screen and (max-width: 783px) {
    .profile__heading {
      max-width: 370px;
    }
  }
  @media screen and (max-width: 737px) {
    .profile__heading {
      max-width: 345px;
    }
  }
  @media screen and (max-width: 7200px) {
    .profile__heading {
      margin: 22px auto 0;
    }
  }
  @media screen and (max-width: 425px) {
    .profile__heading {
      max-width: 245px;
      
      margin-left: 33px;
    }
  }