.popup__input {
    margin-top: 30px;
    border: 0;
    width: 100%;
    
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    padding-bottom: 10px;
  }
  .popup__input:first-child {
    margin-top: 0;
  }
  .popup__input:focus {
    outline-color:lightskyblue;
  }