.popup__item {
    margin-top: 30px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  .popup__item:first-child {
    margin-top: 0;
  }
  .popup__item:focus {
    outline-color:lightskyblue;
  }